doctype html
html
  head
    title= title
    meta(http-equiv="content-type", content="#{contentType}; charset=UTF-8")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
